:root {
   --bg-color-dark: #17171C;
   --btn-color-dark:#2E2F38;
   --btn-text-light:#000000;
   --bg-color-light: #E5E5E5;
   --btn-color-light:#FFFFFF;
   --opr-color:#4B5EFC;
   --ac-color:#D2D3DA;
   --bord-rad:24px;
}